{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link">

        <a href="/users/{{ user.id }}">
          <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
        </a>

        <div class="message-area">
          <a href="/users/{{ user.id }}">@{{ user.username }}</a>
          <span class="text-muted">
            {{ message.timestamp.strftime('%d %B %Y') }}
          </span>
          {% if message.id in g.liked_message_ids %}
          <form action="/messages/{{message.id}}/remove" method="POST">
            {{ g.add_liked_message_form.hidden_tag() }}
            <button class='btn btn-light'><i class="fas fa-star"></i></button>
          </form>

          {% else%}
          <form action="/messages/{{message.id}}/add" method="POST">
            {{ g.remove_liked_message_form.hidden_tag() }}
            <button class='btn btn-light'><i class="far fa-star"></i></button>
          </form>

          {% endif %}
          <p>{{ message.text }}</p>
        </div>
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}